## Data Transformation Project

#### Objective

To transform categorical data to facilitate visualization and cluster analysis using k-modes clustering algorithm.

#### Method

Preprocess categorical variables using scikit-learn's LabelEncoder and merge transformed variables into existing dataset.

#### Datasource

Proprietary survey, n = 1,200
    
Variables for transformation: var9, var11, var12, var13, var16, var217, var230, var231, var232, var233, var234, var235, var236, var246

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
# Create dataframe
df = pd.read_csv("OpioidsMerged.csv")
df.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01,ALAND_SQMI,HD,CT
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,2,1,1,1,1,49048,10782.0,37.908,284.425451,1
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,1,1,2,1,1,30022,24854.0,25.444,976.811822,1
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,1,1,2,2,2,92683,28291.0,9.993,2831.081757,0
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,1,1,1,2,2,77036,30892.0,7.155,4317.540182,0
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,1,1,2,2,2,90026,26958.0,4.224,6382.102273,0

In [3]:
df.tail()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01,ALAND_SQMI,HD,CT
1069,3242,4/16/2018,Complete,,,English,,1523896492_5ad4d0ac65ef18.67029642,Mozilla/5.0 (Linux; Android 7.0; SAMSUNG-SM-G9...,209.232.26.121,...,1,2,1,1,2,30152,16089.0,21.056,764.105243,1
1070,3263,4/16/2018,Complete,,,English,,1523897491_5ad4d4930255d2.69575274,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,108.74.29.196,...,2,2,1,1,1,33065,19484.0,8.329,2339.296434,0
1071,3268,4/16/2018,Complete,,,English,,1523897381_5ad4d4256446c8.63615049,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6...,24.131.34.8,...,2,1,2,1,2,30032,20585.0,13.638,1509.385540,1
1072,3269,4/16/2018,Complete,,,English,,1523897873_5ad4d611858324.88779137,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,65.189.193.221,...,1,1,2,1,1,44313,13657.0,13.844,986.492343,1
1073,3292,4/16/2018,Complete,,,English,,1523900952_5ad4e218661488.49655041,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,192.252.75.3,...,1,1,1,1,1,72712,18987.0,100.008,189.854812,1

In [4]:
# View dataset shape
df.shape

(1074, 240)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [112]:
# Create subset for transformation
ds = df[['Vrid','var9', 'var11', 'var12', 'var13', 'var16', 'var217', 'var230', 'var231', 'var232', 'var233', 
         'var234', 'var235', 'var236', 'var246']]
ds.head()

,Vrid,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
0,17,10001,10023,10026,10031,10052,10657,10723,10726,10729,10736,10739,10743,10749,10789
1,18,10006,10024,10027,10031,10055,10657,10724,10726,10729,10733,10740,10744,10745,10787
2,22,10001,10023,10025,10034,10056,10656,10724,10727,10730,10733,10740,10744,10749,10788
3,23,10004,10024,10025,10036,10052,10656,10724,10726,10730,10734,10740,10744,10749,10787
4,24,10001,10024,10029,10034,10056,10656,10724,10727,10730,10733,10740,10744,10749,10787

In [114]:
ds.set_index('Vrid')

,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
Vrid,,,,,,,,,,,,,,
17,10001,10023,10026,10031,10052,10657,10723,10726,10729,10736,10739,10743,10749,10789
18,10006,10024,10027,10031,10055,10657,10724,10726,10729,10733,10740,10744,10745,10787
22,10001,10023,10025,10034,10056,10656,10724,10727,10730,10733,10740,10744,10749,10788
23,10004,10024,10025,10036,10052,10656,10724,10726,10730,10734,10740,10744,10749,10787
24,10001,10024,10029,10034,10056,10656,10724,10727,10730,10733,10740,10744,10749,10787
25,10003,10023,10026,10031,10058,10656,10724,10727,10731,10736,10739,10743,10749,10789
28,10009,10024,10028,10031,10055,10657,10723,10727,10730,10735,10738,10742,10746,10788
30,10004,10024,10027,10033,10054,10656,10725,10728,10732,10735,10740,10744,10749,10789
35,10002,10023,10028,10031,10052,10661,10724,10727,10730,10735,10740,10744,10745,10787
37,10001,10023,10026,10031,10052,10657,10722,10727,10730,10733,10737,10741,10746,10787
38,10001,10024,10027,10034,10055,10657,10722,10727,10730,10734,10740,10744,10750,10788
40,10004,10023,10029,10031,10058,10657,10725,10726,10729,10733,10738,10742,10749,10787
41,10002,10023,10026,10031,10052,10657,10723,10727,10730,10733,10737,10741,10746,10788
42,10010,10024,10027,10031,10053,10656,10723,10727,10730,10734,10740,10744,10750,10788
48,10004,10024,10027,10033,10052,10656,10725,10727,10729,10733,10740,10744,10749,10788
50,10001,10024,10029,10034,10052,10661,10724,10727,10729,10733,10740,10744,10745,10787
51,10004,10024,10028,10031,10055,10656,10724,10727,10730,10734,10740,10744,10749,10788
52,10005,10023,10026,10032,10052,10657,10724,10728,10730,10734,10740,10744,10745,10787
53,10001,10023,10025,10034,10053,10656,10723,10727,10731,10734,10739,10742,10746,10788
54,10004,10024,10029,10033,10054,10656,10723,10726,10730,10733,10740,10744,10748,10788
55,10001,10023,10027,10034,10052,10657,10724,10726,10730,10733,10738,10742,10749,10787
59,10001,10024,10025,10036,10056,10656,10725,10727,10729,10733,10740,10744,10749,10787
61,10001,10024,10026,10034,10052,10657,10724,10727,10730,10734,10740,10744,10749,10787
63,10002,10024,10026,10031,10052,10657,10722,10726,10729,10733,10740,10744,10745,10787
65,10001,10024,10027,10031,10052,10657,10723,10726,10730,10733,10739,10743,10746,10787
66,10003,10023,10027,10031,10053,10656,10725,10726,10730,10733,10740,10744,10748,10787
69,10001,10024,10025,10033,10055,10661,10724,10726,10729,10733,10738,10744,10745,10789
71,10001,10024,10029,10031,10054,10656,10724,10726,10729,10733,10738,10742,10748,10787
72,10009,10024,10025,10031,10053,10656,10725,10726,10729,10733,10740,10744,10749,10787
73,10001,10024,10025,10034,10056,10656,10723,10726,10731,10735,10739,10741,10749,10788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,10007,10023,10030,10036,10054,10656,10724,10727,10730,10733,10740,10744,10748,10789
3102,10007,10023,10030,10031,10054,10658,10723,10726,10730,10734,10740,10744,10748,10787
3121,10007,10023,10029,10033,10052,10656,10724,10727,10731,10735,10740,10744,10749,10787
3125,10007,10023,10029,10031,10052,10657,10723,10727,10730,10734,10740,10744,10749,10788
3129,10007,10023,10029,10031,10053,10658,10724,10727,10730,10733,10740,10744,10749,10787
3173,10007,10023,10029,10031,10052,10661,10725,10726,10730,10734,10740,10744,10749,10787
3184,10007,10023,10029,10031,10052,10657,10722,10726,10730,10734,10740,10744,10750,10788
3187,10007,10023,10028,10031,10052,10657,10724,10727,10729,10733,10740,10744,10749,10788
3188,10007,10023,10027,10031,10052,10657,10722,10726,10729,10735,10740,10744,10746,10788
3189,10007,10023,10027,10031,10052,10656,10724,10726,10730,10733,10740,10744,10748,10787
3193,10007,10023,10026,10031,10052,10656,10725,10726,10730,10733,10739,10741,10749,10789
3198,10007,10024,10027,10036,10053,10657,10724,10727,10730,10734,10740,10742,10747,10789
3199,10007,10023,10029,10031,10054,10660,10725,10726,10729,10733,10740,10744,10748,10787
3200,10007,10023,10027,10031,10052,10657,10725,10726,10730,10733,10738,10742,10749,10787
3205,10007,10023,10030,10031,10052,10660,10725,10726,10729,10733,10738,10742,10749,10787
3208,10007,10023,10029,10031,10054,10661,10723,10727,10730,10734,10740,10744,10750,10787
3211,10007,10023,10030,10031,10054,10657,10723,10727,10730,10734,10740,10744,10748,10788
3212,10007,10023,10028,10031,10052,10657,10723,10726,10729,10734,10738,10742,10750,10788
3213,10007,10023,10027,10031,10052,10657,10722,10726,10730,10733,10737,10741,10748,10787
3216,10007,10023,10027,10034,10052,10657,10723,10727,10730,10734,10738,10742,10747,10788
3217,10007,10023,10027,10031,10052,10657,10723,10726,10729,10733,10737,10741,10746,10788
3219,10009,10023,10027,10031,10052,10657,10723,10726,10730,10733,10739,10744,10745,10788
3227,10007,10023,10028,10031,10052,10657,10723,10727,10730,10734,10740,10744,10748,10788
3228,10007,10023,10029,10031,10054,10657,10725,10726,10729,10733,10738,10742,10748,10787
3240,10002,10024,10027,10032,10052,10657,10724,10726,10729,10733,10737,10741,10745,10787
3242,10006,10023,10029,10031,10053,10657,10723,10726,10730,10734,10740,10744,10748,10787
3263,10005,10023,10029,10031,10052,10657,10723,10727,10730,10733,10740,10744,10750,10788
3268,10006,10024,10026,10033,10053,10656,10724,10726,10729,10733,10739,10742,10749,10787
3269,10007,10023,10027,10031,10052,10657,10723,10727,10730,10734,10740,10744,10749,10788
3292,10004,10024,10028,10031,10052,10658,10724,10728,10730,10733,10740,10744,10748,10787

In [115]:
ds.head()

,Vrid,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
0,17,10001,10023,10026,10031,10052,10657,10723,10726,10729,10736,10739,10743,10749,10789
1,18,10006,10024,10027,10031,10055,10657,10724,10726,10729,10733,10740,10744,10745,10787
2,22,10001,10023,10025,10034,10056,10656,10724,10727,10730,10733,10740,10744,10749,10788
3,23,10004,10024,10025,10036,10052,10656,10724,10726,10730,10734,10740,10744,10749,10787
4,24,10001,10024,10029,10034,10056,10656,10724,10727,10730,10733,10740,10744,10749,10787

In [116]:
ds.tail()

,Vrid,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
1069,3242,10006,10023,10029,10031,10053,10657,10723,10726,10730,10734,10740,10744,10748,10787
1070,3263,10005,10023,10029,10031,10052,10657,10723,10727,10730,10733,10740,10744,10750,10788
1071,3268,10006,10024,10026,10033,10053,10656,10724,10726,10729,10733,10739,10742,10749,10787
1072,3269,10007,10023,10027,10031,10052,10657,10723,10727,10730,10734,10740,10744,10749,10788
1073,3292,10004,10024,10028,10031,10052,10658,10724,10728,10730,10733,10740,10744,10748,10787

In [117]:
ds.dtypes

Vrid      int64
var9      int64
var11     int64
var12     int64
var13     int64
var16     int64
var217    int64
var230    int64
var231    int64
var232    int64
var233    int64
var234    int64
var235    int64
var236    int64
var246    int64
dtype: object

In [118]:
# View value counts of variables for transformation
ds.iloc[:, 1:].apply(pd.value_counts)

,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
10001,175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10005,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10006,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10007,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10008,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10009,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10010,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10023,NaN,526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10024,NaN,548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10025,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10026,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10027,NaN,NaN,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10028,NaN,NaN,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10029,NaN,NaN,229.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10030,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10031,NaN,NaN,NaN,754.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10032,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10033,NaN,NaN,NaN,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10034,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10035,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10036,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10052,NaN,NaN,NaN,NaN,571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10053,NaN,NaN,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10054,NaN,NaN,NaN,NaN,154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10055,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10056,NaN,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10057,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10724,NaN,NaN,NaN,NaN,NaN,NaN,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10725,NaN,NaN,NaN,NaN,NaN,NaN,185.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541.0,NaN,NaN,NaN,NaN,NaN,NaN
10727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,447.0,NaN,NaN,NaN,NaN,NaN,NaN
10728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN
10729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,364.0,NaN,NaN,NaN,NaN,NaN
10730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,558.0,NaN,NaN,NaN,NaN,NaN
10731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0,NaN,NaN,NaN,NaN,NaN
10732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN
10733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,592.0,NaN,NaN,NaN,NaN
10734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.0,NaN,NaN,NaN,NaN
10735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN
10736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN
10737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.0,NaN,NaN,NaN
10738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,291.0,NaN,NaN,NaN
10739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN
10740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,613.0,NaN,NaN,NaN
10741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.0,NaN,NaN
10742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.0,NaN,NaN
10743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN
10744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0,NaN,NaN
10745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0,NaN
10746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
10747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN
10748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217.0,NaN
10749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323.0,NaN
10750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179.0,NaN
10787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603.0
10788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.0
10789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.0

In [122]:
# Create new dataframe with transformed variables
dsr = pd.DataFrame()
dsr= ds.apply(preprocessing.LabelEncoder().fit_transform)
dsr['Vrid'] = ds['Vrid']
dsr.head()

,Vrid,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
0,17,0,0,1,0,0,1,1,0,0,3,2,2,4,2
1,18,5,1,2,0,3,1,2,0,0,0,3,3,0,0
2,22,0,0,0,3,4,0,2,1,1,0,3,3,4,1
3,23,3,1,0,5,0,0,2,0,1,1,3,3,4,0
4,24,0,1,4,3,4,0,2,1,1,0,3,3,4,0

In [123]:
dsr.tail()

,Vrid,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
1069,3242,5,0,4,0,1,1,1,0,1,1,3,3,3,0
1070,3263,4,0,4,0,0,1,1,1,1,0,3,3,5,1
1071,3268,5,1,1,2,1,0,2,0,0,0,2,1,4,0
1072,3269,6,0,2,0,0,1,1,1,1,1,3,3,4,1
1073,3292,3,1,3,0,0,2,2,2,1,0,3,3,3,0

In [125]:
# View value counts of transformed variables
dsr.iloc[:, 1:].apply(pd.value_counts)

,var9,var11,var12,var13,var16,var217,var230,var231,var232,var233,var234,var235,var236,var246
0,175,526.0,54.0,754.0,571.0,274.0,175.0,541.0,364.0,592.0,116.0,103.0,144.0,603.0
1,81,548.0,280.0,100.0,149.0,588.0,389.0,447.0,558.0,330.0,291.0,293.0,145.0,346.0
2,91,NaN,234.0,119.0,154.0,113.0,325.0,86.0,124.0,114.0,54.0,52.0,66.0,125.0
3,175,NaN,128.0,58.0,65.0,12.0,185.0,NaN,28.0,38.0,613.0,626.0,217.0,NaN
4,62,NaN,229.0,12.0,71.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,323.0,NaN
5,94,NaN,149.0,31.0,22.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,179.0,NaN
6,88,NaN,NaN,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
# Validate transformation by checking that each transformed variable contains the right number of values and the same variance
for i in ds:
    count = ds[i].value_counts()
    rcount = dsr[i].value_counts()
    if len(count) == len(rcount) and np.var(count) == np.var(rcount):
        print(i, "True")
    else:
        print(i, "False")

Vrid True
var9 True
var11 True
var12 True
var13 True
var16 True
var217 True
var230 True
var231 True
var232 True
var233 True
var234 True
var235 True
var236 True
var246 True

In [143]:
# Merge transformed variables with original dataset based on Vrid
df_merged = pd.merge(df, dsr, how='left', on='Vrid', indicator=True)
df_merged.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var217_y,var230_y,var231_y,var232_y,var233_y,var234_y,var235_y,var236_y,var246_y,_merge
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,1,1,0,0,3,2,2,4,2,both
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,1,2,0,0,0,3,3,0,0,both
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,0,2,1,1,0,3,3,4,1,both
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,0,2,0,1,1,3,3,4,0,both
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,0,2,1,1,0,3,3,4,0,both

In [144]:
df_merged.tail()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var217_y,var230_y,var231_y,var232_y,var233_y,var234_y,var235_y,var236_y,var246_y,_merge
1069,3242,4/16/2018,Complete,,,English,,1523896492_5ad4d0ac65ef18.67029642,Mozilla/5.0 (Linux; Android 7.0; SAMSUNG-SM-G9...,209.232.26.121,...,1,1,0,1,1,3,3,3,0,both
1070,3263,4/16/2018,Complete,,,English,,1523897491_5ad4d4930255d2.69575274,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,108.74.29.196,...,1,1,1,1,0,3,3,5,1,both
1071,3268,4/16/2018,Complete,,,English,,1523897381_5ad4d4256446c8.63615049,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6...,24.131.34.8,...,0,2,0,0,0,2,1,4,0,both
1072,3269,4/16/2018,Complete,,,English,,1523897873_5ad4d611858324.88779137,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,65.189.193.221,...,1,1,1,1,1,3,3,4,1,both
1073,3292,4/16/2018,Complete,,,English,,1523900952_5ad4e218661488.49655041,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,192.252.75.3,...,2,2,2,1,0,3,3,3,0,both

In [145]:
# Validate merge by checking that values for each Vrid were present in both dataframes
pd.value_counts(df_merged._merge)

both          1074
right_only       0
left_only        0
Name: _merge, dtype: int64

In [146]:
# Validate merge by checking shape of merged dataset
if (len(df_merged) == len(df)) and (len(df_merged.columns) == len(df.columns)+len(dsr.columns)):
    print("True")
else:
    print("False", df.shape, df_merged.shape)

True

In [147]:
# Drop _merge column
df_merged.drop("_merge", axis=1, inplace=True)
df_merged.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var16_y,var217_y,var230_y,var231_y,var232_y,var233_y,var234_y,var235_y,var236_y,var246_y
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,0,1,1,0,0,3,2,2,4,2
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,3,1,2,0,0,0,3,3,0,0
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,4,0,2,1,1,0,3,3,4,1
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,0,0,2,0,1,1,3,3,4,0
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,4,0,2,1,1,0,3,3,4,0

In [148]:
# Save df_merged as a new csv file
df_merged.to_csv("OpioidsRecodes.csv", index=False)